*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.container p{
    font-size: 20px;
    line-height: 30px;
}

/* header */
header>nav, main>section, footer{
    padding: 0 15%;
}

header{
    background-color: #404eed;
    width: 100%;
    min-height: 600px;
}

nav{
    position: relative;
    width: 100%;
    height: 80px;
    line-height: 80px;
    vertical-align: middle;
}

nav aside{
    height: 100%;
    width: 15%;
    float: left;
}

nav aside.dx{
    text-align: right;
}

nav aside>img{
    transform: translate(0, 50%);
}

nav section{
    height: 100%;
    width: 70%;
    float: left;
    text-align: center;
}

nav section li{
    display: inline-block;
    margin: 0 20px;
}

nav section li a{
    text-decoration: none;
    color: white;
    padding: 10px 0;
}

aside>a{
    text-decoration: none;
    color: #23272a;
    background-color: white;
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
    font-weight: bold;
}

.jumbotron{
    background-image: url(../img/jumbo.png);
    background-size: cover;
    min-height: 520px;
    width: 100%;
    text-align: center;
    color: white;
}

.jumbotron .jumboText{
    max-width: 50%;
    display: inline-block;
}

.jumboText h2{
    margin-top: 100px;
    margin-bottom: 40px;
    font-size: 50px;
}

.jumbotron .links a{
    display: inline-block;
    text-decoration: none;
    color: #23272a;
    background-color: white;
    padding: 15px 25px;
    border-radius: 25px;
    font-size: 18px;
    font-weight: bold;
    margin: 25px 12px;
}

.jumbotron .links a.black{
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: #23272a;
    padding: 15px 25px;
    border-radius: 25px;
    font-size: 18px;
    font-weight: bold;
    margin: 25px 12px;
}

/* fine header */

/* main */

main{
}

main section{
    position: relative;
    padding: 100px 15%;
    
    /* debug */
    /* background-color: yellow; */
}

main section::after{
    content: "";
    display: table;
    clear: both;
}

main section img{
    float: left;
    max-width: 70%;
}

main section div{
    display: inline-block;
    width: 30%;
    font-size: 30px;
    float: right;
    /* margin-left: 30px ; */
}

main section h2{
    margin: 30px 0 20px;
}

main section.unpair img{
    float: right;
}

main section.unpair div{
    float: left;
}

main section.unpair{
    background-color: #f6f6f6;
}


/* fine main */