*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
}

/* header */
header>nav, main, footer{
    padding: 0 15%;
}

header{
    background-color: #404eed;
    width: 100%;
    height: 600px;
}

nav{
    position: relative;
    width: 100%;
    height: 80px;
    line-height: 80px;
    vertical-align: middle;
}

nav aside{
    height: 100%;
    width: 15%;
    float: left;
}

nav aside.dx{
    text-align: right;
}

nav aside>img{
    transform: translate(0, 50%);
}

nav section{
    height: 100%;
    width: 70%;
    float: left;
    text-align: center;
}

nav section li{
    display: inline-block;
    margin: 0 20px;
}

nav section li a{
    text-decoration: none;
    color: white;
}

aside>a{
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
    font-weight: bold;
}

/* fine header */

.jumbotron{
    background-image: url(../img/jumbo.png);
    background-size: cover;
    height: 520px;
    width: 100%;
    text-align: center;
    color: white;
}

.jumbotron .jumboText{
    max-width: 50%;
    display: inline-block;
}

.jumboText h2{
    font-size: 50px;
    margin-top: 60px;
    margin-bottom: 40px;
}

.jumboText p{
    font-size: 20px;
    line-height: 30px;
}